:root{
    --color_light: rgb(120, 153, 233);
    --color_regular: rgb(6, 75, 110);
    --color_dark: rgb(1, 4, 30);
    --white: white;
    --type_font: 'Courier New', Courier, monospace;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.header-left,
.header-center,
.header-right {
    flex: 1;
}

.header-center,
.header-right,
.header-left img.image-login {
    color: var(--white);
    font-family: var(--type_font);
    font-size: 40px;
}

.header-right {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.header-right h3 {
    margin-right: 20px;
}

.header-left img.image-login {
    width: 140px;
    height: auto;
}

footer{
    width: 100%;
    font-family: var(--type_font);
    font-size: 20px;
    color: var(--white);
    text-align: center;
    padding: 10px;
    position:inherit;
    bottom: 0;
    background: var(--color_regular);
    margin-top: 20px;
}