*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    font-family: sans-serif;
    background: var(--color_dark);
}

.main-login{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.left-login{
    width: 35%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.image-login{
    width: 50%;
}

.right-login{
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.fraseInicial{
    font-size: 50px;
    font-family: var(--type_font);
    color:var(--white);
    text-align: center;
}

.card-login {
    width: 100%;
    max-width: 700px;
    padding: 30px;
    background: var(--color_regular);
    border-radius: 20px;
    box-shadow: 0px 10px 30px var(--color_dark);
    color: var(--white);
    margin: 20px;
    box-sizing: border-box;
}

.textfield {
    margin-bottom: 20px;
}

.textfield label {
    display: block;
    margin-bottom: 5px;
    color: var(--white);
}

.textfield input {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    margin-bottom: 10px;
    border: none;
    border-radius: 5px;
    background: var(--color_dark);
    color: var(--white);
    font-size: 12pt;
    box-shadow: 0px 10px 40px var(--color_dark);
    outline: none;
}

.textfield input::placeholder {
    color: var(--color_light);
}

.btn-login {
    width: 100%;
    padding: 14px;
    border: none;
    border-radius: 8px;
    outline: none;
    text-transform: uppercase;
    font-weight: 800;
    letter-spacing: 3px;
    color: var(--white);
    background: var(--color_dark);
    cursor: pointer;
    box-shadow: 0px 10px 40px -12px;   
}
.btn-login:hover {
    background-color: var(--color_light);
}