body {
    background-color: var(--color_light);
    font-family: var(--type_font);
    color: var(--white);
    margin: 0;
    height: 100%;

}


h2 {
    font-size: 30px;
    text-align: right;
}

.container {
    display: flex;
    height: 100%;
    width: 100%;
}

nav {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

ul {
    background: var(--color_regular);
    list-style-type: none;
}

li {
    background-color: var(--color_light);
    font-size: 30px;
    margin: 15px;
}

.btn-criar, .botaoInicio, .botaoVoltar{
    width: 15%;
    padding: 10px 0;
    margin: 5px;
    border: none;
    border-radius: 8px;
    outline: none;
    text-transform: uppercase;
    font-weight: 400px;
    letter-spacing: 3px;
    color: var(--white);
    background: var(--color_dark);
    cursor: pointer;
    box-shadow: 0px 10px 40px -12px;
    font-size: 20px;
}

.btn-criar:hover, .botaoInicio:hover, .botaoVoltar:hover {
    background-color: var(--color_d);
}

.left-menu, .center-menu, .right-menu {
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 10px 0;
    background: var(--color_regular);
    border-radius: 8px;
    box-shadow: 0px 15px 30px var(--color_dark);
    margin: 30px;
    font-size: 30px;
}

.left-menu {
    justify-content: flex-start;
}
.cards {
    height: 300px;
    width: 200px;
    margin-top: 10px;
    border: 1px solid #888;
    padding: 5px;
    background-color: #f9f9f9;
}



/*Formatacao relativa à task.html-->*/
.task {
    width: 100%;
    max-width: 700px;
    padding: 30px;
    background: var(--color_regular);
    border-radius: 20px;
    box-shadow: 0px 10px 30px var(--color_dark);
    color: var(--white);
    margin: 20px;
    box-sizing: border-box;
}
.btn-submit {
    width: 30%;
    padding: 14px 0;
    margin: 10px;
    border: none;
    border-radius: 8px;
    outline: none;
    text-transform: uppercase;
    font-weight: 800;
    letter-spacing: 3px;
    color: var(--white);
    background: var(--color_dark);
    cursor: pointer;
    box-shadow: 0px 10px 40px -12px;
    font-size: 20px;
}

.btn-submit:hover {
    background-color: var(--color_light);
}
.textfield{
   
        margin-bottom: 5px;
        color: var(--white);
        width: 100%;
        padding: 10px;
        box-sizing: border-box;
        margin-bottom: 10px;
        border: none;
        border-radius: 5px;
        background: var(--color_dark);
        color: var(--white);
        font-size: 12pt;
        box-shadow: 0px 10px 40px var(--color_dark);
        outline: none;
        text-transform: uppercase;
}
.textfield input::placeholder {
    color: var(--color_light);
}
#title1{
    width: 400px;
    text-transform: uppercase;

}
#description1{
    height: 200px;
    width: 100%; 
    box-sizing: border-box;
    padding: 8px; 
    margin-bottom: 10px; 
    font-size: 14px; 
    line-height: 1.5;

}

.container h1{
    font-size: 50px;
    color: var(--color_dark);
}
.label{
    font-size: 20px;
    font-weight: 700;
}