body {
    background-color: rgb(1, 4, 30);
    font-family: 'Courier New', Courier, monospace;
    color: aliceblue;
    margin: 0;
}

h1 {
    font-size: 90px;
    text-align: center;
}

h2 {
    font-size: 45px;
    text-align: center;
}

.detail {
    background-color: rgb(120, 153, 233);
}

.container {
    display: flex;
    height: 100vh;
}

nav {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

ul {
    background: rgb(6, 75, 110);
    list-style-type: none;
}

li {
    background-color: rgb(120, 153, 233);
    font-size: 30px;
}

.btn-criar{
    width: 15%;
    padding: 14px 0;
    margin: 10px;
    border: none;
    border-radius: 8px;
    outline: none;
    text-transform: uppercase;
    font-weight: 800;
    letter-spacing: 3px;
    color: white;
    background: rgb(120, 153, 233);
    cursor: pointer;
    box-shadow: 0px 10px 40px -12px;
    font-size: 20px;
}

.left-menu, .center-menu, .right-menu {
    width: 40%;
    height: 90%;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 15px 0;
    background: rgb(6, 75, 110);
    border-radius: 8px;
    box-shadow: 0px 15px 30px rgb(1, 4, 30);
    margin: 50px;
    font-size: 30px;
}

.left-menu {
    justify-content: flex-start;
}

.task {
    text-align: center;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    width: 65%;
    margin: 10px;
}

article.task {
    margin-top: 50px;
    margin-left: 300px;
}

article {
    background-color: rgb(6, 75, 110);
    padding: 20px;
    border-radius: 8px;
}
article section {
    border: 10px solid rgb(120, 153, 233);
    border-radius: 8px;
    padding: 15px;
    margin: 10px;
}

.btn-submit {
    width: 15%;
    padding: 14px 0;
    margin: 10px;
    border: none;
    border-radius: 8px;
    outline: none;
    text-transform: uppercase;
    font-weight: 800;
    letter-spacing: 3px;
    color: white;
    background: rgb(120, 153, 233);
    cursor: pointer;
    box-shadow: 0px 10px 40px -12px;
    font-size: 20px;
}